<!DOCTYPE html>
<html style="font-size: 40px">
<head>
    <meta charset="utf-8">
    <meta property="article: author" content="xytschool.com" />
    <meta name="keywords" content="{{chapter.title}},代码学用通,代码笔记,网站开发,电子技术,手工制作,golang学习,物联网,趣味生活">
    <meta name="description" content="{{chapter.title}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-fullscreen" content="true"/>
    <meta name="full-screen" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="false">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
    <title>{{chapter.title}}-代码学用通</title>
    <link href="{{staticWithVersion "m/css" "app.css"}}" rel="stylesheet">
    <style>
        body{max-width: 1000px;margin: 0 auto; }
    </style>
</head>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<style>
    .header-wrap {
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px #e5e2d8;
    }

    .header-wrap span {
        float: left;
        width: 15px;
        text-align: center;
    }

    .header-wrap .title {
        float: left;
        width: 90%;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
    }

    .body-wrap {
        padding: 15px 10px;
    }

    .body-wrap .chapter-row {
        font-size: 17px;
        margin: 10px 8px;
    }
</style>
<body style="font-size: 14px;">

<div class="page">
    <div class="header-wrap">
        <span onclick="window.history.back()" class="iconfont icon-back"></span>
        <div class="title">{{chapter.title}}</div>
    </div>
    <div class="body-wrap">
        <div class="chapter-wrap">
            <wrap-title title="资源列表"></wrap-title>
            {{#each chapter.resources}}
                <div class="chapter-row">
                    <a href="/resource/{{this.id }}.html"> {{this.title}}</a>
                </div>
            {{/each}}
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
</html>

