{{> header}}
<link href="{{static  "highlight/styles/solarized-light.css"}}" rel="stylesheet">

<body style="font-size: 14px;">
<div id="app" >
    <router-view></router-view>
</div>
</body>
<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "create.js"}}"></script>
<script type="text/javascript" src="{{static  "highlight/highlight.pack.js"}}"></script>
<script type="text/javascript">
    setTimeout(function () {
        document.querySelectorAll('pre code').forEach((block) => {
            console.log("pre code", block)
            hljs.highlightBlock(block);
        })
    }, 200)
    setTimeout(function () {
        document.querySelectorAll('pre').forEach((block) => {
            console.log("pre", block)
            hljs.highlightBlock(block);
        })
    }, 500)
</script>
</html>
