<!DOCTYPE html>
<html style="font-size: 40px">
<head>
    <meta charset="utf-8">
    <meta property="article: author" content="xytschool.com" />
    <meta name="keywords" content="{{group.title}},代码学用通,代码笔记,网站开发,电子技术,手工制作,golang学习,物联网,趣味生活">
    <meta name="description" content="{{group.desc}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-fullscreen" content="true"/>
    <meta name="full-screen" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="false">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
    <title>{{group.title}}-代码学用通</title>
    <link href="{{staticWithVersion "m/css" "app.css"}}" rel="stylesheet">
    <style>
        body{max-width: 1000px;margin: 0 auto; }
    </style>
</head>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<style xmlns="">
    .wrap-title {
        padding-left: 5px;
        width: 100%;
        border-left: solid 2px #5aaeaa;
        font-weight: 600;
    }

    .cover-wrap {
        width: 100%;
    }

    .cover-wrap img {
        width: 100%;
        max-height: 300px
    }

    .group-wrap {
        box-sizing: border-box;
        padding: 8px 10px 10px 10px;
    }

    .group-wrap .title {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        text-align: center;
        margin-bottom: 15px
    }

    .group-wrap .info-item-wrap {
        margin-bottom: 15px;
        position: relative;
    }

    .info-item-wrap .avatar {
        padding: 0px 5px;
        width: 50px;
        float: left;
    }

    .info-item-wrap .avatar img {
        width: 100%;
        border-radius: 50%;
    }

    .info-item-wrap .info {
        float: left;
        padding-left: 10px;
    }

    .info-item-wrap .info .username {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .info-item-wrap .info .category {
        font-size: 14px;
        color: #737476;
    }

    .info-item-wrap .info .tags {
        font-size: 13px;
        color: #737476;
    }

    .info-item-wrap .care {
        font-weight: 100;
        position: absolute;
        font-size: 10px;
        top: 2px;
        right: 20px;
    }

    .desc {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .desc-content {
        margin-top: 15px;
    }

    .chapter-row{
        margin-top: 12px;
    }
</style>

<body style="font-size: 14px;">
<div class="page">
    <div class="cover-wrap">
        <img src="{{group.covers.[0]}}">
    </div>
    <div class="group-wrap">
        <div class="title"> {{group.title}}</div>
        <div class="info-item-wrap">
            <div class="avatar">
                <img src="http://data.xyt.xytschool.com/img/default_head.jpg"/>
            </div>
            <div class="info">
                <div class="category">  {{group.category.title}}</div>
                <div class="tags">
                    {{#each group.tags}}
                        <span>{{this.title}}</span>
                    {{/each}}
                </div>
                <div class="care">
                    <a href="/">返回首页</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="desc">
            <div class="wrap-title">内容简介</div>
            <div class="desc-content">{{group.desc}}</div>
        </div>
        <div class="wrap-title">全部章节</div>

        <div class="chapter-wrap">
            {{#each group.chapters}}
                <div class="chapter-row">
                    <div class="left">
                        <span style="font-weight: bold">{{this.title}}</span>
                        <!--<span @click="getChapterResources(index)" class="iconfont icon-fenlei"></span>-->
                    </div>
                    {{#equal this.type  "resource"}}
                        <span class="right">
                        <a href="/resource/{{this.resource_id}}.html" class="iconfont icon-more"></a>
                            <span class="right iconfont icon-zuji"></span>
                    </span>
                    {{/equal}}
                    <div style="clear: both"></div>
                    {{#each this.resources}}
                        <div style="padding-top: 10px;padding-left: 15px">
                            <a href="/resource/{{this.id}}.html">
                                <li> {{this.title}}</li>
                            </a>
                        </div>
                    {{/each}}
                    <!--                    <div v-if="chapter.resources.length>4" style="padding-top: 10px;padding-left: 15px">-->
                    <!--                        <router-link :to="'/chapter/'+chapter.id +'.html'">.....更多 >></router-link>-->
                    <!--                    </div>-->
                </div>
            {{/each}}
        </div>
    </div>
    <div style="height: 15px"></div>
</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<!--<script type="text/javascript" src="{{staticWithVersion "m/js" "group.js"}}"></script>-->
<!--<script type="text/javascript" src="{{static  "highlight/highlight.pack.js"}}"></script>-->
</html>
