<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="X-Octopass-Token" content="{{authorization}}"/>
    <link href="{{static "" "style.css"}}" rel="stylesheet">
</head>
<body>
<div id="app">
    <router-view/>
</div>
<script type="text/javascript" src="{{static "" "manifest.bundle.js"}}"></script>
<script type="text/javascript" src="{{static "" "vendor.bundle.js"}}"></script>
<script type="text/javascript" src="{{static "" "app.bundle.js"}}"></script>
</body>
</html>

