{{> header}}
<body style="font-size: 14px;">
<style>
    .news-item1-wrap {
        font-family: Microsoft YaHei;
        color: #171a24;
        width: 100%;
        overflow: hidden;
        border-bottom: solid 1px #e5e2d8;
        height: 120px;
        margin-top: 5px;
        padding: 5px;
    }

    .news-item1-wrap .left {
        float: left;
        width: 55%;
        margin-right: 5%;
    }

    .news-item1-wrap .left p {
        font-size: 18px;
        height: 80px;
    }

    .news-item1-wrap .left span {
        font-size: 12px;
    }

    .news-item1-wrap .right {
        float: right;
        width: 40%;
    }

    .news-item1-wrap .right .cover {
        width: 95%;
        height: 110px;
        border-radius: 5px;
    }
</style>

<div id="app" style="max-width:800px;margin: 0 auto">
    <index-page-slot>
        {{#each items}}
            <div class="news-item1-wrap">
                <a href="/group/{{this.content.data.id}}.html">
                    <div class="left">
                        <p>{{this.title}}</p>
                        <span>{{this.content.data.created_at}}</span>
                    </div>
                    <div class="right">
                        <img class="cover" src="{{this.content.data.covers.[0]}}"/>
                    </div>
                </a>
            </div>
        {{/each}}
    </index-page-slot>
    <!--    <index-page-slot>-->
    <!--        <index-page></index-page>-->
    <!--    </index-page-slot>-->
</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "app.js"}}"></script>
</html>
