<!DOCTYPE html>
<html style="font-size: 40px">
<head>
    <meta charset="utf-8">
    <meta property="article: author" content="xytschool.com" />
    <meta name="keywords" content="{{resource.title}},代码学用通,代码笔记,网站开发,电子技术,手工制作,golang学习,物联网,趣味生活">
    <meta name="description" content="{{resource.title}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-fullscreen" content="true"/>
    <meta name="full-screen" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="false">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
    <title>{{resource.title}}-代码学用通</title>
    <link href="{{staticWithVersion "m/css" "app.css"}}" rel="stylesheet">
    <style>
        body{max-width: 1000px;margin: 0 auto; }
    </style>
</head>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<link href="{{static  "highlight/styles/tomorrow-night.css"}}" rel="stylesheet">
<style>
    .header {
        height: 50px;
        line-height: 50px;
    }

    .header .left {
        float: left;
        width: 15px;
        margin-left: 5px;
        margin-right: 10px;
        font-weight: 600
    }

    .header .right {
        float: left;
        overflow: hidden;
        color: #555569;
        font-weight: 500;
    }

    .header .right a {
        font-size: 10px;
        display: inline-block;
        width: auto;
    }


    .wrap-body {
        padding: 2px 10px;
    }

    .resource-title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
    }
    .article {
        line-height: 24px;
    }

    .article p{
        line-height: 24px;
    }

</style>
<body style="font-size: 14px;">

<div class="header">
    <span class="left iconfont icon-back" onclick=""></span>
    <div class="right">
        <a href="/group/{{resource.groupId }}.html"> {{resource.groupTitle}}</a> >
        <a href="/chapter/{{resource.chapterId}}.html"> {{resource.chapterTitle}} </a>
    </div>
    <div class="clearfix"></div>

</div>
<div class="wrap-body">
    <div style="clear: both"></div>
    <div class="resource-wrap">
        <div class="resource-title">{{resource.title}}</div>
        <div class="article">
            {{{resource.content}}}
        </div>
    </div>
</div>

<div id="app" style="max-width:800px;margin: 0 auto">
    <router-view></router-view>
</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "group.js"}}"></script>
<script type="text/javascript" src="{{static  "highlight/highlight.pack.js"}}"></script>

<script type="text/javascript">
    setTimeout(function () {
        document.querySelectorAll('pre code').forEach((block) => {
            console.log("pre code", block)
            hljs.highlightBlock(block);
        })
    }, 200)
    setTimeout(function () {
        document.querySelectorAll('pre').forEach((block) => {
            console.log("pre", block)
            hljs.highlightBlock(block);
        })
    }, 500)
</script>
</html>

